* {
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: #111212;
}
a {
    text-decoration: none;
}
div {
    border-radius: 0.6rem;
}
 /* *
 * em is relative to the parent's percentage 1em = 100% font-size that certain parent's font-size
 * rem is based on root(html) not the element's parent
 * align items is vertical 
 * justify content is horizontal
 * */

.welcome {
    margin-top: 10px;
    height: 15vh;
    width: 80%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}
.welcome h1{
    border: none;
    font-size: 5em;
    display: inline-block;
}

.main {
    margin-top: 10px;
    width: 80%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.website {
    background-color: rgb(97, 97, 97);
    height: 25%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.website h1 {
    background: none;
    padding: 1rem;
}
.website h2 {
    background: none;
    padding: 1rem;
    margin: 0.5rem;
}

.mid {
    background-color: rgb(145, 145, 145);
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mid-three1 {
    background-color: rgb(59, 59, 59);
    height: 95%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.mid-three1 button {
    margin: 12%;
    height: 2rem;
    width: 10rem;
}
.mid-three3 {
    background-color: rgb(59, 59, 59);
    height: 95%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

.divide-1 {
    height: 25%;
    width: 90%;
    background-color: rgba(23, 236, 130, 0.253);
}
.divide-2 {
    height: 70%;
    width: 90%;
    background-color: rgba(23, 236, 130, 0.253);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.divide-2 a {
    background-color: white;
    width: 100%;
    height: 45%;
}
.gallary-1 {
    background-color: white;
    width: 100%;
    height: 45%;
    border-radius: 0%;
    color: black;
}
.gallary-2 {
    background-color: white;
    width: 100%;
    height: 45%;
    border-radius: 0%;
    color: black;
}

.mid-three2 {
    background-color: rgb(59, 59, 59);
    height: 95%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.divide1 {
    height: 18%;
    width: 88%;
    background-color: rgba(23, 236, 130, 0.253);
    font-size: 1.2rem;
    padding: 0.45rem;
}
.divide1 b {
    background: none;
    color: black;
}
.divide1 i {
    font-size: 2rem;
    background: none;
}
.divide2 {
    height: 48%;
    width: 88%;
    background-color: rgba(23, 236, 130, 0.253);
    padding: 0.45rem;
}
.divide2 b {
    background: none;
}


.bottom {
    background-color: grey;
    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot {
    height: 85%;
    width: 95%;
    background-color: rgba(31, 30, 30, 0.274);
}
.bot h3 {
    background: none;
    padding: 0.5rem;
}

.response {
    margin-top: 1rem;
    height: 30vh;
    width: 80%;
    border: 1px solid white;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.photo {
    height: 90%;
    width: 45%;
    background-color: rgb(97, 97, 97);
}
.message {
    height: 90%;
    width: 45%;
    background-color: rgb(97, 97, 97);
}   