* {
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: #111212;
}
 /* em is used for font size    
 align items is vertical 
 justify content is horizontal
 */

.welcome {
    height: 15vh;
    width: 80%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}
.welcome h1{
    border: none;
    font-size: 5em;
    display: inline-block;
}

.main {
    display: flex;
}