* {
    border: 1px solid;
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: #111212;
}
 /* em is used for font size    */

.welcome {
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: center;
}
.welcome h1{
    font-size: 2em;  
    position: absolute;
    display: block;
}

.main {
    display: flex;
    position: static;
    align-items: flex-start;
}
.main div {
    display: inline-block;
    align-items: flex-start;
}